<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/pocetna.css">
</head>
<body>
    <div class="main-container">
        <nav>
            <div class="lijeva-strana">
                <a href="/home">Home</a>
                <a href="/izmjerena_temperatura">Temperatura</a>
                <a href="/izmjerena_vlaga">Vlaga</a>
            </div>
            <div class="desna-strana">
                <span>{{ username }}</span>
                <a href="/">Odjava</a>
            </div>
        </nav>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% else %}
            <div class="table-container">
                <table border="1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            {% if display == 'temperatura' %}
                                <th>Temperatura</th>
                            {% elif display == 'vlaga' %}
                                <th>Vlaga</th>
                            {% endif %}
                            <th>Vrijeme</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                            <tr>
                                <td>{{ result.id }}</td>
                                {% if display == 'temperatura' %}
                                    <td>{{ result.temperatura }}°C</td>
                                {% elif display == 'vlaga' %}
                                    <td>{{ result.vlaga }}</td>
                                {% endif %}
                                <td>{{ result.vrijeme }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</body>
</html>
