<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/pocetna.css">
</head>
<body>
    <div class="main-container">
        <nav>
            <div class="lijeva-strana">
                <a href="/home">Home</a>
            </div>
            <div class="desna-strana">
                <span>{{username}}</span>
                <a href="/">Odjava</a>
            </div>
        </nav>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% else %}
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Temperatura</th>
                    <th>Vlaga</th>
                    <th>Vrijeme</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                    <tr>
                        <td>{{ result.id }}</td>
                        <td>{{ result.temperatura }}</td>
                        <td>{{ result.vlaga }}</td>
                        <td>{{ result.vrijeme }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>
</body>
</html>
